p {
    margin-bottom: 0 !important;
}

.careers-section {
    width: 100%;
    height: 640px;
    margin-top: 76px;
    padding: 48px 0px;
    background-color: #e5f6ff;
}

.careers-container {
    height: 544px;
    padding: 0px 16px;
    display: flex;
    justify-content: space-between;
}

.careers-left {
    width: 551px;
    height: 544px;
    padding-left: 16px;
    /* background-color: antiquewhite; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.careers-left-title {
    font-size: 76px;
    font-family: Arial, Helvetica, sans-serif;
    /* font-weight: normal !important; */
}

.careers-left-text {
    font-size: 20px;
}

.search-label {
    font-size: 14px;
    margin: 0px 0px 8px;
}

#search {
    width: 417px;
    height: 40px;
    padding: 0px 16px;
    margin-right: 5px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid black;
    font-size: 13px;
}

.search-btn {
    width: 105px;
    height: 40px;
    /* padding: 7.8px 60px 7.8px 12px; */
    background-color: #0f62fe;
    color: #ffffff;
    border: none;
    text-align: center;
}

/* Latest Jobs */
.latest-jobs {
    width: 100%;
    height: 620px;
    padding: 65px 0px 40px;
    /* background-color: antiquewhite; */
}

.latest-jobs-content {
    width: 770px;
}

.latest-jobs-title {
    font-family: "Poppins", sans-serif;
    font-size: 36px;
}

.latest-jobs-text {
    color: #828282;
}

.latest-jobs-cards {
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.latest-jobs-card {
    width: 364px;
    height: 400px;
    margin-top: 18px;
    margin-bottom: 15px;
    /* background-color: aquamarine; */
    /* border: 1px solid black; */
}

.latest-jobs-card>img {
    width: 100%;
    height: 230px;
}

.latest-jobs-card-content {
    height: 170px;
    padding: 10px;
    background-color: #e5f6ff;
    text-align: center;
}

.latest-jobs-card-title {
    font-family: "Poppins", sans-serif;
    /* font-size: 25px; */
    font-weight: bold;
}

.latest-jobs-card-text {
    font-weight: bold;
}

.card-btn {
    margin-top: 10px;
    padding: 5px 15px;
    background-color: #0f62fe;
    font-weight: bold;
    border: none;
}

.card-btn>a {
    text-decoration: none;
    color: #ffffff;
}

.card-btn>a:hover {
    color: #000000;
}

/* Why CTS Section */
.why-cts-section {
    height: 628px;
}

.why-cts-div {
    height: 628px;
    padding: 0px 15px;
    /* background-color: rgb(211, 131, 27); */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.why-cts-left {
    width: 444px;
    height: 570px;
    padding: 25px 0px 60px;
    /* background-color: aquamarine; */
}

.why-cts-left-title {
    font-size: 36px;
    font-weight: bold;
    color: #110729;
}

.divider1 {
    width: 70%;
    height: 5px;
    margin: 10px 0px;
    margin-right: 5px;
    background-color: #00b49d;
    border-radius: 10px;
    display: inline-block;
}

.divider2 {
    width: 15px;
    height: 5px;
    margin: 10px 0px;
    background-color: #00b49d;
    border-radius: 10px;
    display: inline-block;
}

.why-cts-left-text {
    font-weight: bold;
}