@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: "Nunito", sans-serif;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(0, 0, 0, .7) !important;
}

.navbar-light .navbar-nav .nav-link:hover {
    /* color: blue !important; */
    color: #2cb4f0 !important;
    /* offset-x | offset-y | blur-radius | color */
    /* text-shadow: 1px 1px 2px rgb(117, 117, 244); */
}

.nav-item {
    font-size: 18px;
}

.home-container {
    margin-top: 76px;
}

.carousel-inner {
    height: 550px;
}

.car-item {
    position: relative;
    top: 0;
    left: 0;
}

.bg-blur {
    filter: blur(3px);
    -webkit-filter: blur(3px);
}

.car-cap {
    /* margin-bottom: 350px; */
    position: absolute;
    top: 200px;
    left: 50px;
}

.carousel-title {
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
}

.carousel-sub-title {
    color: white;
    font-size: 50px;
    font-weight: 600;
}

/* .img img {
    max-width: 100%;
} */

/* .home-container {
  display: flex;
  overflow-x: hidden;
  max-width: 100%;
  min-height: 712px;
  background-image: url(/images/home.jpg);
  background-size: cover;
  /* background-repeat: no-repeat;
  background-position: center; */
/* justify-content: center;
  align-items: center;
  color: rgb(253, 252, 252);
}  */

/* .home-heading {
    display: flex;
    flex-direction: column;
}

.home-heading>p {
    font-size: larger;
    font-weight: 800;
}

.home-heading>h2 {
    color: white;
    z-index: 1000;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 50px;
}

.btn-primary {
    margin-right: 10px;
}

.home-btn {
    padding: 11px 33px;
    border-radius: 3px;
    font-size: 17px;
}

.btn-1 {
    padding-left: 20;
} */

/* .card section */
.cards-section {
    height: 170px;
    margin-top: -90px;
    position: relative;
    top: 0;
    left: 0;
}

.home-cards {
    display: flex;
    justify-content: space-between;
    /* position: absolute; */
}

.home-card {
    width: 364px;
    height: 170px;
    /* margin: 0px 8px; */
    padding: 30px 20px;
    /* background-image: linear-gradient(180deg, #2cb4f0 0%, #046ba3 100%); */
    background-color: #2cb4f0;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-icon>img {
    width: 49.52px;
    height: 45.52px;
    margin-right: 15px;
}

.home-card-content {
    text-align: center;
}

.home-card-title {
    /* font-family: "Poppins", sans-serif; */
    font-size: 20px;
    /* font-weight: 600; */
    color: #000000;
}

.home-card-text {
    color: #000000;
    margin-bottom: 0;
}

/* Hero Section */

.hero-section {
    margin-top: 70px;
}

.hero-div-left {
    width: 510px;
}

.hero-para {
    font-size: 18px;
    font-weight: 600;
    color: #104cba;
}

.hero-content-1>h2 {
    font-size: 36px;
    font-weight: 600;
}

.hero-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.hero-text {
    margin-block: 30px;
    color: #828282;
}

.hero-list {
    color: #828282;
}

/* Featured section */
/* .featured-services {
    margin-top: 50px;
}

.featured-services-para {
    font-size: 18px;
    font-weight: 600;
    color: #104cba;
}

.featured-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.featured-content>h2 {
    font-size: 36px;
    font-weight: 600;
}

.featured-text {
    color: #828282;
}

.feature-cards {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
}

.feature-card {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 10px;
}

.featured-services .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

/* Services Section */
.card-shadow {
    box-shadow: 3px 7px 10px rgba(0, 0, 0, 0.15);
}

.hover-shadow:hover {
    box-shadow: 3px 7px 10px rgba(0, 0, 0, 0.15);
}

/* .services-left {
    position: relative;
}

.services-left-div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: 13rem;
    padding: 20px;
}

.services-left-div>p,
.services-left-div>h2 {
    display: flex;
    flex-direction: column;
    margin-left: 70px;
    color: white;
    font-weight: 600;
}

.services-left-div h2 {
    font-size: 40px;
}

.services-btn>a {
    color: orangered;
    margin-left: 70px;
    font-size: 16px;
}

.services-right {
    position: relative;
}

.services-right-div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: 13rem;
    padding: 20px;
}

.services-right-div h2 {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    margin-left: 70px;
    color: white;
    font-size: 40px;
    font-weight: 600;
} */

/* Experience Section */

.experience-section {
    max-width: 100%;
    height: 440px;
    background-color: #f4f8f9;
    padding: 100px 0px 80px;
}

.experience-div {
    display: flex;
    justify-content: space-around;
}

.experience-left-div .exp {
    display: flex;
    align-items: center;
}

.experience-left-div img {
    width: 193px;
    height: 95px;
    margin-right: 3rem;
}

.experience-left-div .exp p {
    margin-top: 4rem;
    color: #828282;
    font-size: 18px;
}

.progress-div {
    width: 35rem;
}

/* Offer Div */

.offer-section {
    height: 600px;
    background-image: url(/images/offerbg.webp);
    background-size: cover;
}

.offer-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.offer-left {
    width: 587px;
    color: white;
    /* margin-right: -274px; */
    margin-top: 70px;
}

.offer-title {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 1.5rem;
}

.offer-text {
    font-family: "Poppins", sans-serif;
    font-size: 36px;
    font-weight: 600;
}

.offer-heading {
    display: flex;
    margin-top: 40px;
}

.offer-head {
    width: 294px;
    height: 95px;
    display: flex;
}

.offer-heading-1 {
    display: flex;
    flex-direction: column;
    margin-left: 25px;
}

.offer-heading-1>p {
    color: #ceaff4;
}

.offer-image-div {
    width: 54px;
    height: 36px;
}

.offer-right .image-1 {
    width: 452px;
    height: 452px;
    margin-top: 76px;
}

.offer-right {
    position: relative;
    top: 0;
    left: 0;
}

.image-1 {
    position: relative;
    top: 0;
    left: 0;
}

.image-2 {
    width: 204px;
    height: 180px;
    position: absolute;
    top: 344px;
    right: 293px;
}

/* Case Studies Section */
.case-studies {
    padding: 110px 0px 92px;
}

.case-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.case-content-title {
    margin-bottom: 0;
    padding: 0px 0px 13px;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #104cba;
}

.case-content-text {
    font-family: "Poppins", sans-serif;
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 0;
}

.case-images {
    margin-top: 30px;
}

/* .case-img img {
    border-radius: 4px;
}  */

/* Companies Section */
.companies {
    margin-bottom: 75px;
}

/* Footer Section */
.footer-section {
    width: 100%;
    height: 480px;
    padding: 100px 0px 0px;
    background-color: black;
    background-size: cover;
    color: white;
}

.footer-container {
    height: 214px;
    padding-right: 100px;
    display: flex;
    justify-content: space-between;
}

.footer-logo {
    width: 295px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.footer-logo>img {
    margin: 0px auto;
}

.link-column {
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
}

.footer-nav{
    display: flex;
    flex-direction: column;
    line-height: 2rem;
}

.link-column-title {
    margin-bottom: 25px;
    font-size: 18px;
}

.footer-links {
    text-decoration: none;
    color: #ffffff;
}

.footer-links:hover {
    color:#2cb4f0;
}

/* Secondary Footer */
.sec-footer {
    display: flex;
    flex-direction: column;
}

.footer-line {
    width: 90%;
    margin-top: 4rem;
    margin-inline: auto;
}

.sub-footer-content {
    margin-top: 15px;
    text-align: center;
}