<section class="footer-section">
    <div class="container">
        <div class="footer-container">
            <div class="footer-logo">
                <img src="/images/logo-footer.png" width="250px" height="100px" alt="Company Logo">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting</p>
                <div class="social-media-icons">
                    <i class="fa-brands fa-facebook fa-2xl" style="color: #3b5999; margin-right: 10px;"></i>
                    <i class="fa-brands fa-linkedin fa-2xl" style="color: #0077b4; margin-right: 10px;"></i>
                </div>
            </div>
            <div class="link-column">
                <h6 class="link-column-title">Quick Links</h6>
                <div class="footer-nav">
                    <a href="#" class="footer-links">Home</a>
                    <a href="#" class="footer-links">About Us</a>
                    <a href="#" class="footer-links">Services</a>
                    <a href="#" class="footer-links">Contact Us</a>
                </div>
            </div>
            <div class="link-column footer-contact">
                <h6 class="link-column-title">Contact Us</h6>
                <div class="mb-3">
                    <p class="footer-address">Office No. 29/A, New D.P. Road</p>
                    <p class="footer-address">Pimple Nilakh, Pune 411 027</p>
                    <p class="footer-address">Maharashtra, India</p>
                </div>
                <div class="">
                    <p class="footer-address">Office No. 29/A, New D.P. Road</p>
                    <p class="footer-address">Pimple Nilakh, Pune 411 027</p>
                    <p class="footer-address">Maharashtra, India</p>
                </div>
            </div>
            <div class="link-column">
                <h6 class="link-column-title">External Links</h6>
                <div class="footer-nav">
                    <a href="#" class="footer-links">Google</a>
                    <a href="#" class="footer-links">Facebook</a>
                    <a href="#" class="footer-links">Twitter</a>
                    <a href="#" class="footer-links">LinkedIn</a>
                </div>
            </div>
        </div>
        <div class="sec-footer">
            <div class="footer-line">
                <hr>
            </div>
            <div class="sub-footer-content">Copyright &copy; 2023 {{ .Site.Title }}</div>
        </div>
    </div>
</section>